html {
    scroll-behavior: smooth;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #198754;
    border-radius: 50%;
    display: inline-block;
}

.glowing-circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #198754;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
    from {
        box-shadow: 0 0 5px #1bbb71, 0 0 15px #1bbb71, 0 0 20px #1bbb71, 0 0 30px #1bbb71;
    }

    to {
        box-shadow: 0 0 15px #1bbb71, 0 0 25px #1bbb71, 0 0 30px #1bbb71, 0 0 400px #1bbb71;
    }
}


.main-timeline {
    font-family: 'Poppins', sans-serif;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: calc(50% + 58px);
    border-top: 2px solid #ffffff;
    float: left;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline:before {
    content: "";
    background: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: 0;
}

.main-timeline .timeline-content {
    color: #ffffff;
    text-align: center;
    padding: 15px 80px 15px 10px;
    display: block;
    position: relative;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-content:before {
    content: "";
    background: #00a6f9;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50px;
}

.main-timeline .timeline-year {
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: -15px;
}

.main-timeline .title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}

.main-timeline .description {
    font-size: 16px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
}

.main-timeline .timeline:nth-child(even):before {
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 15px 10px 15px 80px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    right: auto;
    left: 51px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -15px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:before {
    background: #ff3e7c;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content:before {
    background: #7438be;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content:before {
    background: #bdc203;
}

@media screen and (max-width:767px) {
    .main-timeline .timeline {
        width: 100%;
    }
}

.imgDiag {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

.insideimgDiag {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/covers/cover-19.jpg");
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, opacity;
    margin-top: 191.2px;
    transform: translate3d(0px, -193.556px, 0px);
}

.sectionImgDiag {
    background-image: none;
    position: relative;
    z-index: 0;
}
.jarallaxstyle {
    background-image: url("../../assets/img/covers/cover-19.jpg");
}

.delimiter {
    width: 100%;
    height: 150px;
}



.rotateDiv
{
    transform: rotate(180deg);
}

.divchart {
    height: 30rem;
    margin: 4rem;
}

