.footer {
  background-color: #1D1D1D;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media { 
    display: flex;
    justify-content: space-evenly;
    margin: 0 20rem;
    
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}